<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Hey there, I'm Larry.
    <p>
        I hear writing blogs can be fun, and since I'm a total sucker for 
        anything web-related, I figure I'd make a blog and give this whole writing 
        thing a try! I like to work on a wide variety of stuff - from working on web 
        projects, running, cooking, to watching sports.
    </p>
    <p>
        <em>So what in it for you for reading a strangers blog?</em> 
        More or less you can get a sneek peak of how I keep myself distracted
        outside of work, whether I'm working up my way to becoming a coding badass, to 
        overanalyzing the day-to-day things that I typically stumble upon.
    </p>
</div>