<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Hey there, I'm Larry.
    <p>I'm not <em>that great</em> at putting my thoughts on paper, so what better way to learn than being thrown in at the deep end?
        I hear writing blogs can be fun, and since I'm a total sucker for anything related to the web, I figure I'd give this a try!
    </p>
    <p>
    <p>
        <em>So what to expect from this blog?</em> More or less the things that I find <strong>fun</strong>: from working up my way 
        to becoming a coding badass, to overanalyzing the day-to-day things that I stumble upon. 
    </p>
</div>